@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-wedgewood-100 text-black; 
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  @apply bg-wedgewood-800;
  z-index: 50;
}

html {
  scroll-behavior: smooth;
}